.about-text {
    font-family: 'Manrope ExtraBold';
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(90deg, #000, #30256d, #30256d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Whytaw-text {
    font-family: 'Manrope ExtraBold';
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(90deg, #000, #30256d, #30256d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.know-text {
    font-family: 'Manrope ExtraBold';
    font-size: 70px;
    font-weight: bold;
    background: linear-gradient(90deg, #000, #30256d, #30256d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.age-text {
    font-family: 'Manrope ExtraBold';
}


/* animated text starts */
.taw-animated-text {
    font-family: 'Russo One', sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
}

.taw-animated-text text {
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    animation: stroke 2s infinite alternate;
    stroke-width: 2;
    stroke: #30256d;
    font-size: 140px;
    font-weight: bold;
}

@keyframes stroke {
    0% {
        fill: rgba(72, 138, 20, 0);
        stroke: #30256d;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }

    70% {
        fill: rgba(72, 138, 20, 0);
        stroke: #30256d;
    }

    80% {
        fill: rgba(72, 138, 20, 0);
        stroke: #30256d;
        stroke-width: 3;
    }

    100% {
        fill: #d3d3de;
        stroke: #30256d;
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}

/* mobile view */
@media only screen and (max-width: 625px) {
    .know-text {
        font-size: 60px;
    }

    .about-text {
        font-size: 35px;
    }
}